:root{
    background: #7FB3D5;
}
.center{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

img {
    width: 13em;
    transition: all .5s;
    cursor: pointer;
}

#container_images img:hover {
    transform: scale(1.3) rotate(15deg);
}

#computer_image img {
    width: 10em;
}

#horizontal_separator{
    margin-top: 70px;
    border: 2px solid black;
}

button{
    background-image:url("images/paper.png");
    background-repeat:no-repeat;
}
.scoreboard {
    margin-top: 30px;
    padding: 20px;
    border: 7px solid black;
    border-radius: 5px;
    background-color: #eee;
  }

  #score_result{
    padding: 5px;
    display: flex;
    justify-content: space-around;
  }

  .column_container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .win_lose {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    color: red;
  }
  
  footer{
      margin-top: 100px;
      background-color: rgb(64, 138, 187);
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: stretch;
  }

  .full_width {
    background-color: rgb(64, 138, 187);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  footer p{
      margin-right: 30px;
  }
  
 
  
  

  